<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">DSpace 7</h1>
          <p class="lead">DSpace is the world leading open source repository platform that enables
            organisations to:</p>
        </div>
      </div>
      <ul>
        <li>easily ingest documents, audio, video, datasets and their corresponding Dublin Core
          metadata
        </li>
        <li>open up this content to local and global audiences, thanks to the OAI-PMH interface and
          Google Scholar optimizations
        </li>
        <li>issue permanent urls and trustworthy identifiers, including optional integrations with
          handle.net and DataCite DOI
        </li>
      </ul>
      <p>Join an international community of <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank">leading institutions using DSpace</a>.</p>
      <p>The test user accounts below have their password set to the name of this
        software in lowercase.</p>
      <ul>
        <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
        <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
        <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
        <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
      </ul>
      <p>
        This demo repository runs the latest version of the code and has some
        <a (click)="collapse.toggle()" role="button" [attr.aria-expanded]="!isFeatureListCollapsed" aria-controls="collapseFeatureList">
          <i>optional</i> features enabled by default.
        </a>
      </p>
      <div #collapse="ngbCollapse" [ngbCollapse]="isFeatureListCollapsed" id="collapseFeatureList">
        <ul>
          <li><a href="https://wiki.lyrasis.org/display/DSDOC7x/Configurable+Entities">Configurable Entities</a></li>
          <li><a href="https://wiki.lyrasis.org/display/DSDOC7x/Researcher+Profiles">Researcher Profies</a></li>
          <li><a href="https://wiki.lyrasis.org/display/DSDOC7x/ORCID+Integration">ORCID Authenication / Integration</a> (using <a href="https://sandbox.orcid.org/">https://sandbox.orcid.org/</a>)</li>
          <li>Shibboleth Authentication (using <a href="https://samltest.id/">https://samltest.id/</a>)</li>
          <li><a href="https://wiki.lyrasis.org/display/DSDOC7x/User+Interface+Configuration#UserInterfaceConfiguration-MediaViewerSettings">Basic Media Viewer</a></li>
          <li><a href="https://wiki.lyrasis.org/display/DSDOC7x/User+Interface+Configuration#UserInterfaceConfiguration-Itemaccesslabels">Item Access labels</a></li>
          <li><a href="https://wiki.lyrasis.org/display/DSDOC7x/User+Interface+Configuration#UserInterfaceConfiguration-SettingsforrenderingMarkdown,HTMLandMathJaxinmetadata">Markdown, HTML and MathJax in abstract fields</a></li>
          <li><a href="https://api7.dspace.org/server/oai/request?verb=Identify">OAI-PMH</a></li>
          <li><a href="https://api7.dspace.org/server/sword/servicedocument">SWORDv1</a> and <a href="https://api7.dspace.org/server/swordv2/servicedocument">SWORDv2</a> (see <a href="https://swordapp.org/">https://swordapp.org/</a>)</li>
        </ul>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/dspace/images/banner.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
</div>
